@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@400;500&family=Raleway&display=swap');


.App-container {
  background-image: linear-gradient(135deg, var(--primary_color), var(--accent_color));
  height: 100vh;
}

.App {
  text-align: center;
  margin: 0 50px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --primary_color: #009FFD;
  --accent_color: #045DE9;
  --white_color: #fff;
}

.App-box {
  background-color: var(--white_color);
  padding: 1em;
  border-radius: 10px;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.Todo-header {
  display: flex;
  /* background-color: green; */
  width: auto;
  margin: 0.5em;
  padding: 0 10px;
  border: 2px solid #444;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#search {
  width: 100%;
  margin: 0.5em;
  padding: 10px;
  outline: none;
  border: 0;
  font-family: Poppins, 'sans-serif';
  font-weight: 500;

}

::placeholder {
  font-family: Poppins, 'sans-serif';
  font-weight: 500;
}

.options {
  padding-top: 5px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.options-left-li {
  margin: 0;
  transition: all 200ms ease-in-out;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #333;
  padding: 3px 10px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.options-left-li:hover {
  color: var(--primary_color);
  border-color: var(--accent_color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.clear:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.options-left-ul {
  display: flex;
  list-style: none;
  gap: 1em;
  padding-left: 1em;
}

.clear {
  cursor: pointer;
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  color: var(--white_color);
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  background-image: linear-gradient(135deg, var(--primary_color), var(--accent_color));
}

.Todo-body {
  border-top: 2px solid #444;
  margin-bottom: 1em;
}

.no-task {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid #444;
}

/* item component */

.item-box{
  /* background-color: var(--accent_color); */
  display: flex;
  padding:1em;
  gap:1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid #444;
}

input{
  accent-color:var(--accent_color);
}

.strike{
  text-decoration: line-through;
}